{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список Користувачів</h1>
    <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item">
            <!-- Додайте інші поля користувача, які вам потрібні -->
            <div class="btn-group">
                    <a href="{% url 'user_detail' user.pk %}"><h2>{{ user.username }}</h2></a>
            </div>
        </li>
        {% empty %}
        <p class="alert alert-info">На жаль, поки що немає жодних користувачів.</p>
        {% endfor %}

    </ul>
</div>
{% endblock %}