{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>View Message</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ message.title }}</h2>
            <p class="card-text">{{ message.text }}</p>
            <p class="card-text">
                <strong>Author:</strong>
                <a href="{% url 'user_detail' message.sender.pk %}"> {{ message.sender }}</a>
            </p>
            <p class="card-text">
                <strong>Receiver:</strong>
                <a href="{% url 'user_detail' message.receiver.pk %}"> {{ message.receiver }}</a>
            </p>
            <p class="card-text">Дата створення: {{ message.created_at }}</p>
            <a href="{% url 'message_create' message.sender.pk %}" class="btn btn-secondary mt-3">Reply</a>
            {% if user == message.sender %}
            <a href="{% url 'message_update' message.pk %}" class="btn btn-secondary mt-3">Edit</a>
            <a href="{% url 'message_delete' message.pk %}" class="btn btn-secondary mt-3">Delete</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}