{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список повідомлень:</h1>
    <div class="btn-group" role="group" aria-label="Перегляд повідомлень">
        <a href="{% url 'message_list' 'inbox' %}" class="btn btn-primary {% if folder == 'inbox' %}active{% endif %}">Вхідні</a>
        <a href="{% url 'message_list' 'sent' %}" class="btn btn-primary {% if folder == 'sent' %}active{% endif %}">Надіслані</a>
    </div>
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item {% if message.unread %} unread {% endif %}">
            <p>{{ message.title }}</p>
            <p>Повідомлення: {{ message.text }}</p>
            {% if folder == 'inbox' %}
                <p>Автор: <a href="{% url 'user_detail' message.sender.pk %}">{{ message.sender }}</a></p>
            {% else %}
                <p>Отримувач: <a href="{% url 'user_detail' message.receiver.pk %}">{{ message.receiver }}</a></p>
            {% endif %}
            <p>Дата створення: {{ message.created_at }}</p>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'message_detail' message.pk %}">View</a>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'message_create' message.sender.pk %}">Reply</a>
            </button>
            {% if user == message.sender %}
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'message_update' message.pk %}">Edit</a>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <a href="{% url 'message_delete' message.pk %}">Delete</a>
            </button>
            {% endif %}
        </li>
        {% empty %}
        <p class="alert alert-info">На жаль, поки що немає жодних повідомлень.</p>
        {% endfor %}
    </ul>
    {% include 'pagination.html' %}
</div>

{% endblock %}