{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список користувачів, яким сподобався пост:</h1>
    <ul class="list-group">
        {% for user_info in post_liked_user %}
        <li class="list-group-item">
            <!-- Інші поля користувача, які вам потрібні -->
            <div class="btn-group">
                <a href="{% url 'user_detail' user_info.pk %}"><h2>{{ user_info }}</h2></a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}