{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список Постів</h1>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.content|truncatechars:100 }}</p>
            <p>Автор: {{ post.user.username }}</p>
            <p>Дата створення: {{ post.created_at }}</p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'post_detail' post.pk %}">View</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'comments_list' post.pk %}">Comments ({{ comment_count|get_item:post.pk }})</a>
                </button>
            </div>

        </li>
        {% empty %}
        <p class="alert alert-info">На жаль, поки що немає жодних постів.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}