{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список постів</h1>
    <ul class="list-group">
        {% for post in posts %}
        {% if post.user in follow_users %}
        <li class="list-group-item">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.content|truncatechars:100 }}</p>
            <p>Автор: <a href="{% url 'user_detail' post.user.pk %}">{{ post.user.username }}</a></p>
            <p>Дата створення: {{ post.created_at }}</p>
            <p class="card-text"><a href="{% url 'like' post.pk %}"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Bot%C3%B3n_Me_gusta.svg/langru-1024px-Bot%C3%B3n_Me_gusta.svg.png"
                    width="20"> </a>
                <a href="{% url 'liked_post_user' post.pk %}">{{ post.like_count }}</a>
            </p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'post_detail' post.pk %}">View</a>
                </button>
                {% if user == post.user %}
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'post_update' post.pk %}">Edit</a>
                </button>
                {% endif %}
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{% url 'comments_list' post.pk %}">Comments ({{ post.comment_count }})</a>
                </button>
            </div>
        </li>
        {% endif %}
        {% empty %}
        <p class="alert alert-info">На жаль, поки що немає жодних постів.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}